.left-content
  .left-content-top
    .my-nickname
      gen
    = link_to fa_icon('cog 2x'), edit_user_registration_path
    = link_to fa_icon('pencil-square-o 2x'), new_group_path
  .left-content-bottom
    %ul.group-list
      %li.group-list__name
        aaaaaaaaaa
      %li.group-list__message
        まだメッセージはありません
    %ul.group-list
      %li.group-list__name
        sampleグループ
      %li.group-list__message
        まだメッセージはありません
