.alert {
  height: 20px;
  color: $WhiteColor;
  background-color: $LiteBlue;
  text-align: center;
}

.notice {
  height: 20px;
  color: $WhiteColor;
  background-color: $LiteBlue;
  text-align: center;
}
